* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 32px;
  border: 1px solid red

}

.book {
  display: flex;
  justify-content: space-between;
}

h1, h2 {
  text-align: center;
}

.add-book {
  display: flex;
  flex-direction: column;
}

.add-container {
  text-align: right;
}